body {
  background-color: #efefef;
}

.site {
  flex: 1;
}

.site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thumbnail-image {
  border-radius: 80%;
}

.nav-link {
  color: azure !important;
}

#copyright-symbol {
  color: azure;
}

#copyright-date {
  color: azure;
  padding-left: 2mm;
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-container {
  width: 640px;
  height: 480px;
}

.crop-container {
  position: relative;
  height: 440px;
  text-align: center;
}

.crop-container img {
  max-height: 440px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container,
.create-account-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.login,
.create-account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  background-color: rgb(212, 212, 212);;
  padding: 50px 0px;
  border-radius: 10px;
}

.verification-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.verification {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  min-height: 300px;
  background-color: rgb(212, 212, 212);
  padding: 50px 0px;
  border-radius: 10px;
}

#verification-paragraph {
  font-size: 7mm;
}

#resend-btn {
  font-size: 5mm;
}
.create-account {
  min-width: 700px;
}

.create-account h3 {
  padding-bottom: .75em;
}

.create-account .btn-submit {
  margin-top: .5em;
}

.results-container {
  padding-top: 29vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 550px;
  min-height: 300px;
  background-color: rgb(212, 212, 212);
  padding: 50px 0px;
  border-radius: 10px;
}

#detect-page-link {
  font-size: 8mm;
}